<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>{{'forgotpassword.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h4>{{'forgotpassword.subtitle' | translate}}</h4>
  <form class="forgotForm allForm" [formGroup]="dataForm" (ngSubmit)="send()" novalidate>
    <div class="content-inputs">
      <ion-item>
        <ion-input required type="email" placeholder="{{'commons.email' | translate}}" formControlName="email"></ion-input>
      </ion-item>
      <p class="input-error" *ngIf="dataForm.get('email').errors && dataForm.get('email').dirty && dataForm.get('email').hasError('required')">{{'commons.input-required'
        | translate }}</p>
      <p class="input-error" *ngIf="dataForm.get('email').errors && dataForm.get('email').dirty && dataForm.get('email').hasError('pattern')">{{'commons.input-notemail'
        | translate }}</p>
    </div>
    <ion-button expand="full" type="submit" [disabled]="dataForm.invalid">
      {{'forgotpassword.continue' | translate}}
    </ion-button>
  </form>
</ion-content>