
h1, h5, p.center{
    text-align: center;
}

h1{
    font-weight: bold;
}


//It contains all the text related to forgetting the password and the singup
.content-anchor{
    text-align: center;
    margin-top: 2rem;
}